/**************************************************************
*********************       COLORS        *********************
***************************************************************/
$bg-primary: #FFFFFF;
$bg-secondary: #F6F9FB;

$primary: #002559;
$primary-light: #003A8C;
$primary-dark: #1E1E41;

$secondary: #A9C2D3;
$secondary-light: #D5E5EF;
$secondary-dark: #809DB1;

